{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% set form = formulaire %}

        {{ form_start(form,
            {'attr': {'role': 'form'}}
        ) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>

        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>

        <button type="submit"
                class="btn btn-primary">
            Register
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}