{% extends './base.html.twig' %}

{% block body %}
    <a type="button" class="btn btn-primary" href="{{ path('app_file_upload') }}">upload file 1</a>
    <a type="button" class="btn btn-primary" href="{{ path('app_file_upload') }}">upload file 2</a>
    <a type="button" class="btn btn-primary" href="{{ path('app_choice') }}">Let's move on the fusion</a>


{% endblock %}