{% extends './base.html.twig' %}

{% block body %}
    <h1>Choissisez votre fusion !</h1>
<a type="button" class="btn btn-primary" href="{{ path('app_fusion_cross') }}">Fusion entrelacée</a>
<a type="button" class="btn btn-primary" href="{{ path('app_fusion_seq') }}">Fusion séquentielle</a>
{% endblock %}