{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% set form = form %}


        {{ form_start(form,
            {'attr': {'role': 'form'}}
        ) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>


        <button type="submit" class="btn btn-primary" name="submit">
            Enregistrer
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}