{% extends './base.html.twig' %}

{% block body %}

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Vehicule Name</th>
        </tr>
        </thead>
            <tbody>
            <tr>
                <td>{{ listClient.name }}</td>
                <td>{{ brand }}</td>
                <td>{{ vehiculeName }}</td>
            </tbody>

    </table>

{% endblock %}